* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    overflow-y: visible;
    font-size: 16px;
    min-width: 280px;
}

::-webkit-scrollbar {
    background-color: black;
}

img {
    width: 100%;
    border-radius: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #FF5C00;
}

h2 {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 22px;
}

.header {
    width: 1100px;
    min-width: 280px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 400px 250px 250px 200px;
}

.header-logo {
    font-size: 35px;
    color: antiquewhite;
    font-weight: 900;
}

.header-logo:hover {
    color: bisque;
}


span.a:hover {
    color: rgba(255, 0, 0, 0.701);
}


.h {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    display: inline-block;
}

.h:hover {
    text-decoration: none;
    color: white;
}

.header-search {
    outline: none;
    padding: 8px;
    border: 5px solid black;
    border-radius: 40px;
}

.container {
    width: 1100px;
    height: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 340px 530px 150px;
    grid-gap: 40px;
    padding-top: 80px;
}



.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 10px;
    padding-top: 20px;
    line-height: 42px;
}

.subtitle {
    margin-bottom: 10px;
    opacity: 0.4;
    line-height: 19px;
    font-size: 16px;
    font-weight: 400;
}

.desription {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.btn {
    background-color: #FF5C00;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    border-radius: 100px;
    transition: all 500ms ease-in-out;
}

.btn:hover {
    background-color: red;
    color: white;
}

.params {
    list-style-type: none;
}

.params li {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-gap: 30px;
    width: 100%;
    font-size: 14px;
}

.tag {
    font-size: 12px;
    font-weight: 400;
    padding: 3px 5px;
    border-radius: 6px;
    border: 1px solid white;
    display: inline-block;
    margin-top: -3px;
}

.text-muted {
    opacity: 0.4;
}

.rating-main {
    display: block;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: rgb(47, 255, 123);
}

.gold {
    color: gold;
}

.rating-counts {
    display: block;
    margin-bottom: 10px;
    line-height: 19px;
    opacity: 0.4;
}

.rating-details {
    display: inline-block;
}


.footer {
    width: 1100px;
    min-width: 280px;
    max-width: 100%;
    width: 3em;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.footer-logo {
    margin-bottom: 25px;
    padding-left: 50px;
    width: 500px;
    font-size: 20px;
    color: silver;
}

.footer-contact {
    display: grid;
    grid-template-columns: 120px 120px 0px;
}

.footer-img {
    height: 60px !important;
    width: 60px !important;
}